</div>

<div>
     <p id="footer" style="text-align: center">&#169 Docs2go 2020 | <a href="/accomodations">Home</a> |<a href="#"> Our Mission </a>
             |<a href="https://www.facebook.com/etienne.l.roux"> BRH studios </a>
</div>     
