<% include partials/header %>


    <!-- <h1><%= title %></h1> -->

    <div class="jumbotron jumbotron-fluid">
        <div class="container">
          <h1 class="display-4">Fluid jumbotron</h1>
          <p class="lead">This is a modified jumbotron that occupies the entire horizontal space of its parent.</p>
        </div>
      </div>



          <div class="container">
            <div class="card-group">
                <div class="card">
                  <img src="https://external-content.duckduckgo.com/iu/?u=http%3A%2F%2Fwww.court-records.net%2Fanimation4%2Fapollo-nods.gif&f=1&nofb=1" class="card-img-top" alt="...">
                  <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                    <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                  </div>
                </div>
                <div class="card">
                  <img src="http://www.court-records.net/animation/edgeworth-document(b).gif" class="card-img-top" alt="...">
                  <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
                    <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                  </div>
                </div>
                <div style="background-color: greenyellow; padding-top: 100px; padding-left: 60px; padding-right: 60px" class="card">
                  <img src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fvignette.wikia.nocookie.net%2Faceattorney%2Fimages%2F6%2F62%2FApollo_and_Document_1.gif%2Frevision%2Flatest%3Fcb%3D20120904191913&f=1&nofb=1" class="card-img-top" alt="...">
                  <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
                    <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                  </div>
                </div>
              </div>
          </div>
          
    </div>
    




<% include partials/footer %>